
<main class="container">

  <h1 class="container">Subnetzmasken-Rechner</h1>
  <label for="subnetInput"class="form-label">Wähle eine Subnetzmaske (0-32):</label>
  <input type="range" class="form-range" id="subnetInput" min="0" max="32" value="16" step="1" oninput="calculateSubnetMask()">
  <br>

  <p id="binaryOutput">Binäre Darstellung:</p>
  <p id="decimalOutput">Dezimale Darstellung:</p>
  <p id="inputValue">Eingegebener Wert:</p>

  <script>
    function calculateSubnetMask() {
      // Den Slider-Wert abrufen
      var subnetInput = document.getElementById("subnetInput").value;
      var binaryOutput = document.getElementById("binaryOutput");
      var decimalOutput = document.getElementById("decimalOutput");
      var inputValue = document.getElementById("inputValue");

      // Subnetzmaske berechnen
      var subnetMask = calculateSubnet(subnetInput);

      // Ergebnisse in Textfelder einfügen
      binaryOutput.textContent = "Binäre Darstellung: " + addDotsToBinary(subnetMask.binary);
      decimalOutput.textContent = "Dezimale Darstellung: " + subnetMask.decimal;
      inputValue.textContent = "Eingegebener Wert: " + "/" + subnetInput;
    }

    function calculateSubnet(subnetInput) {
      // Subnetzmaske berechnen
      var subnetMaskDecimal;

      if (subnetInput == 0) {
        subnetMaskDecimal = 0;
      } else {
        subnetMaskDecimal = (0xFFFFFFFF << (32 - subnetInput)) >>> 0;
      }

      // Dezimal in die Formatierung 255.255.255.0 umwandeln
      var subnetMaskArray = [
        (subnetMaskDecimal >>> 24) & 255,
        (subnetMaskDecimal >>> 16) & 255,
        (subnetMaskDecimal >>> 8) & 255,
        subnetMaskDecimal & 255
      ];

      var subnetMaskString = subnetMaskArray.join('.');

      return {
        decimal: subnetMaskString,
        binary: subnetMaskDecimal.toString(2).padStart(32, '0')
      };
    }

    function addDotsToBinary(binaryString) {
      // Füge Punkte nach jedem achten Zeichen in der binären Darstellung hinzu
      var dottedBinary = binaryString.match(/.{1,8}/g).join('.');

      return dottedBinary;
    }

    // Initial die Subnetzmaske berechnen und anzeigen
    calculateSubnetMask();
  </script>

</main>
<style>

main{
  background-color: black;
  color: lightgreen;
}
</style>
