@import url('bootstrap/dist/css/bootstrap.min.css'); 
main{
  background-color: rgb(32, 31, 31);
  color: lightgreen;
  border: solid lightgreen 2px;

}
p{
  border: solid rgb(186, 233, 186) 1px;
  background-color: rgb(32, 31, 31);
}
*{
  background-color: rgb(32, 31, 31);
}